body {
    background-color: #121212;
}

main{
    color: aliceblue;
    text-align: center;
    font-family: Georgia, serif;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: Georgia, serif;
}

.difficulty-div{
    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.difficulty-button {
    width: 15% ;
    height: 15% ;
    background-color: #0047E0;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: "Comic Sans MS", serif;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
}

.difficulty-button:hover {
    background-color: #377aff;
}

.plateau {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: aliceblue;
    margin: 0 auto ;
}


.card.facile {
    width: 20%;
    height: 20%;
    background-color: lightgray;
    border-radius: 5px;
    margin: 2.5%;
    transition: transform 0.5s;
    cursor: pointer;

}

.card.moyen {
    width: 13%;
    height: 13%;
    background-color: lightgray;
    border-radius: 5px;
    margin: 1.4%;
    transition: transform 0.5s;
    cursor: pointer;

}

.card.difficile {
    width: 10%;
    height: 10%;
    background-color: lightgray;
    border-radius: 5px;
    margin: 1.25%;
    transition: transform 0.5s;
    cursor: pointer;
}

.card.retournee {
    transform: rotateY(180deg);
}

